// img-1 
.img-1{
    border-radius: 20px;
    position: relative;
}

.img-1::after{
    position: absolute;
    width: 99%;
    height: 100%;
    display: block;
    content: '';
    background: linear-gradient(180deg, var(--bs-indigo) 0%, var(--bs-orange) 100%);
    z-index: -2;
    top: -1%;
    left: -1%;
    border-radius: 20px;
    transform: rotate(4deg);
    box-shadow:rgba(var(--colorCTA), 0.2) -10px 15px 20px;
    transition: all 0.3ms linear;
}


.img-1 img {
    filter: none!important;
    width: 100%!important;
    height: 100%;
    border-radius: 20px!important;
}

.img-1:hover::after{
    box-shadow:rgba(var(--colorCTA), 0.2) -15px 20px 25px;
}



// img-2
.img-2 { 
    width: 320px!important;
    height: 320px;

    @media only screen and (min-width: 768px) {
        width: 350px!important;
        height: 350px;
    }
    @media only screen and (min-width: 1200px) {
        width: 400px!important;;
        height: 400px;
    }
}

.img-2{
    position: relative;
}

.img-2::after{
    position: absolute;
    width: 125%;
    height: 125%;
    display: block;
    content: '';
    background: linear-gradient(217deg, #16446c, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #006867, rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, #62265d, rgba(0, 0, 255, 0) 70.71%);
    border-radius: 50%;
    filter: blur(20px);
    z-index: -2;
    top: -13%;
    left: -15%;
    border-radius: 400px;
}


.img-2 img {
    object-fit: cover!important;
    filter: none!important;
    width: 100%!important;
    height: 100%;
    border-radius: 30px!important;
}

$size:1.5px;

.img-3 {  
    
    
    width: 320px!important;
    height: 320px;
    position: relative;


    @media only screen and (min-width: 768px) {
        width: 350px!important;
        height: 350px;
    }
    @media only screen and (min-width: 1200px) {
        width: 400px!important;;
        height: 400px;
    }



    & img {
        object-fit: cover!important;
        filter: none!important;
        width: 100%!important;
        height: 100%;
        border-radius: 20px!important;
    }

    &::after {
        content: "";
        position: absolute;
        top: -7%;
        left: -10%;
        width: 110%;
        height: 110%;
        z-index: -2;
        display: block;
        border-radius: 50%;
        background: rgba(var(--colorCTA));
        border-top: $size * 2 dotted rgba(var(--colorCTA));
        border-right: $size dotted rgba(var(--colorCTA));
        border-bottom: $size * 2 dotted rgba(var(--colorCTA));
        border-left: $size * 10 dotted rgba(var(--colorCTA));
        animation: spin 3s linear infinite;
        filter: blur(20px);

      }
 
    
    @keyframes spin {
      0% {
        border-top: $size * 2 dotted rgba(var(--colorCTA));
        border-right: $size dotted rgba(var(--colorCTA));
        border-bottom: $size * 2 dotted rgba(var(--colorCTA));
        border-left: $size * 10 dotted rgba(var(--colorCTA));
        filter: blur(5px);
        transform: scale(1) rotateZ(0deg);
      }
      25% {
        border-top-left-radius: 48%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 48%;
        transform: scale(0.95);
        filter: blur(6px);
      }
      50% {
        border-top: $size dotted rgba(var(--colorCTA));
        border-right: $size * 10 dotted rgba(var(--colorCTA));
        border-bottom: $size dotted rgba(var(--colorCTA));
        border-left: $size dotted rgba(var(--colorCTA));
        border-top-left-radius: 45%;
        border-top-right-radius: 48%;
        border-bottom-left-radius: 48%;
        border-bottom-right-radius: 45%;
        filter: blur(7px);
      }
      100% {
        border-top: $size * 2 dotted rgba(var(--colorCTA));
        border-right: $size dotted rgba(var(--colorCTA));
        border-bottom: $size * 2 dotted rgba(var(--colorCTA));
        border-left: $size * 10 dotted rgba(var(--colorCTA));
        filter: blur(5px);
        transform: rotateZ(360deg);
      }
    }
}


   .spiner1 {
    width: 400px;
    height: 400px;
    background: url("https://azure.glmedialibrary.com/glstorage/library/6/img63842996654108985543.png");
    background-position: center top;
    background-size: cover;
    border-radius: 20px;
    animation: changeClipPath 7s infinite;
    transition: clip-path 1s;
    clip-path: path("M290.09 26.2026C328.016 42.5074 369.53 63.753 387.98 97.3507C406.431 130.454 401.818 176.404 386.443 217.907C371.067 259.41 345.441 296.466 310.078 312.277C274.714 327.594 229.613 321.665 189.636 315.736C149.147 309.807 113.784 303.878 76.37 288.561C38.9562 273.739 -0.507578 250.023 0.00493918 220.872C0.517456 191.721 40.4938 157.135 61.507 123.537C82.5202 90.4335 84.5702 57.824 101.996 35.0961C119.421 12.8624 152.222 0.510262 185.536 0.016178C218.85 -0.477906 252.676 10.3919 290.09 26.2026Z");
}

@keyframes changeClipPath {
    0%, 100% {
        clip-path: path("M290.09 26.2026C328.016 42.5074 369.53 63.753 387.98 97.3507C406.431 130.454 401.818 176.404 386.443 217.907C371.067 259.41 345.441 296.466 310.078 312.277C274.714 327.594 229.613 321.665 189.636 315.736C149.147 309.807 113.784 303.878 76.37 288.561C38.9562 273.739 -0.507578 250.023 0.00493918 220.872C0.517456 191.721 40.4938 157.135 61.507 123.537C82.5202 90.4335 84.5702 57.824 101.996 35.0961C119.421 12.8624 152.222 0.510262 185.536 0.016178C218.85 -0.477906 252.676 10.3919 290.09 26.2026Z");
    }
    50% {
        clip-path: path("M322.995 18.2455C359.486 33.8151 390.625 66.9003 397.923 104.851C405.708 142.315 390.139 184.158 375.542 226.001C361.432 267.844 348.295 309.687 320.076 324.77C291.856 339.853 248.067 328.176 208.17 322.824C168.273 317.959 131.782 318.932 94.3177 306.768C57.3401 295.091 18.4163 269.304 5.27954 234.273C-7.37069 199.241 4.79299 154.965 19.876 112.149C34.9589 68.8465 52.4747 27.9765 83.6137 10.9473C114.753 -6.08184 159.515 1.21637 202.818 3.64911C245.634 6.08184 286.99 3.16257 322.995 18.2455Z");
    }
}
    
    

// .animate-img { 
//   & img { 
//     display: none;
//   }
//   min-width: 400px;
//   width: 400px;
//   height: 400px;
//   position: relative;
//   overflow: visible;
//   background: url("https://azure.glmedialibrary.com/glstorage/library/6/img63842996655537577186.png");
//   background-position: center center;
//   background-size: cover;
//   z-index: 0;
//   animation: changeClipPath1 10s infinite; 
//   clip-path: path("M290.09 26.2026C328.016 42.5074 369.53 63.753 387.98 97.3507C406.431 130.454 401.818 176.404 386.443 217.907C371.067 259.41 345.441 296.466 310.078 312.277C274.714 327.594 229.613 321.665 189.636 315.736C149.147 309.807 113.784 303.878 76.37 288.561C38.9562 273.739 -0.507578 250.023 0.00493918 220.872C0.517456 191.721 40.4938 157.135 61.507 123.537C82.5202 90.4335 84.5702 57.824 101.996 35.0961C119.421 12.8624 152.222 0.510262 185.536 0.016178C218.85 -0.477906 252.676 10.3919 290.09 26.2026Z");
// }


// @keyframes changeClipPath1 {
//   0%, 100% {
//     scale: (1.1);
//       clip-path: path("M290.09 26.2026C328.016 42.5074 369.53 63.753 387.98 97.3507C406.431 130.454 401.818 176.404 386.443 217.907C371.067 259.41 345.441 296.466 310.078 312.277C274.714 327.594 229.613 321.665 189.636 315.736C149.147 309.807 113.784 303.878 76.37 288.561C38.9562 273.739 -0.507578 250.023 0.00493918 220.872C0.517456 191.721 40.4938 157.135 61.507 123.537C82.5202 90.4335 84.5702 57.824 101.996 35.0961C119.421 12.8624 152.222 0.510262 185.536 0.016178C218.85 -0.477906 252.676 10.3919 290.09 26.2026Z");
//   }
//   50% {
//       clip-path: path("M322.995 18.2455C359.486 33.8151 390.625 66.9003 397.923 104.851C405.708 142.315 390.139 184.158 375.542 226.001C361.432 267.844 348.295 309.687 320.076 324.77C291.856 339.853 248.067 328.176 208.17 322.824C168.273 317.959 131.782 318.932 94.3177 306.768C57.3401 295.091 18.4163 269.304 5.27954 234.273C-7.37069 199.241 4.79299 154.965 19.876 112.149C34.9589 68.8465 52.4747 27.9765 83.6137 10.9473C114.753 -6.08184 159.515 1.21637 202.818 3.64911C245.634 6.08184 286.99 3.16257 322.995 18.2455Z");
//   }

// }

// @keyframes changeClipPath2 {
//   0%, 100% {
//     scale: (1.1);
//     clip-path: path("M290.09 26.2026C328.016 42.5074 369.53 63.753 387.98 97.3507C406.431 130.454 401.818 176.404 386.443 217.907C371.067 259.41 345.441 296.466 310.078 312.277C274.714 327.594 229.613 321.665 189.636 315.736C149.147 309.807 113.784 303.878 76.37 288.561C38.9562 273.739 -0.507578 250.023 0.00493918 220.872C0.517456 191.721 40.4938 157.135 61.507 123.537C82.5202 90.4335 84.5702 57.824 101.996 35.0961C119.421 12.8624 152.222 0.510262 185.536 0.016178C218.85 -0.477906 252.676 10.3919 290.09 26.2026Z");

//   }
//   50% {
//     clip-path: path("M370.144 35.8711C398.369 59.9805 401.626 95.0811 399.454 125.218C397.283 155.355 389.684 180.528 376.114 210.665C362.545 240.447 343.004 275.547 308.266 284.766C273.527 293.629 223.591 276.611 170.398 264.202C116.661 252.147 60.2114 244.701 29.2725 221.656C-1.1237 198.61 -6.5516 160.318 7.01812 125.927C20.0451 91.8901 52.0696 62.1079 92.7787 39.7712C134.031 17.0799 183.967 1.47971 236.075 0.0615065C288.183 -1.00215 341.919 11.7617 370.144 35.8711Z")
//   }

// }






.animate-img { 
  position: relative;
}

.animate-img img {
  position: relative;
  filter: none!important;
  width: 100%!important;
  height: 100%;
  border-radius: 66% 34% 70% 30% / 30% 49% 51% 70% ;
  animation: changeBorder 7s infinite;
}

@keyframes changeBorder {
  0%, 100% {
    border-radius: 25% 75% 83% 17% / 65% 49% 51% 35%;
  }
  50% {
    border-radius: 8% 92% 48% 52% / 65% 49% 51% 35%;
  }
}