// img-1 
.img-1{
    border-radius: 20px;
    position: relative;
}

.img-1::after{
    position: absolute;
    width: 99%;
    height: 100%;
    display: block;
    content: '';
    background: linear-gradient(180deg, var(--bs-indigo) 0%, var(--bs-orange) 100%);
    z-index: -2;
    top: -1%;
    left: -1%;
    border-radius: 20px;
    transform: rotate(4deg);
    box-shadow:rgba(var(--colorCTA), 0.2) -10px 15px 20px;
    transition: all 0.3ms linear;
}


.img-1 img {
    filter: none!important;
    width: 100%!important;
    height: 100%;
    border-radius: 20px!important;
}

.img-1:hover::after{
    box-shadow:rgba(var(--colorCTA), 0.2) -15px 20px 25px;
}



// img-2
.img-2 { 
    width: 320px!important;
    height: 320px;

    @media only screen and (min-width: 768px) {
        width: 350px!important;
        height: 350px;
    }
    @media only screen and (min-width: 1200px) {
        width: 400px!important;;
        height: 400px;
    }
}

.img-2{
    position: relative;
}

.img-2::after{
    position: absolute;
    width: 125%;
    height: 125%;
    display: block;
    content: '';
    background: linear-gradient(217deg, #16446c, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #006867, rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, #62265d, rgba(0, 0, 255, 0) 70.71%);
    border-radius: 50%;
    filter: blur(20px);
    z-index: -2;
    top: -13%;
    left: -15%;
    border-radius: 400px;
}


.img-2 img {
    object-fit: cover!important;
    filter: none!important;
    width: 100%!important;
    height: 100%;
    border-radius: 30px!important;
}

$size:1.5px;

.img-3 {  
    
    
    width: 320px!important;
    height: 320px;
    position: relative;


    @media only screen and (min-width: 768px) {
        width: 350px!important;
        height: 350px;
    }
    @media only screen and (min-width: 1200px) {
        width: 400px!important;;
        height: 400px;
    }



    & img {
        object-fit: cover!important;
        filter: none!important;
        width: 100%!important;
        height: 100%;
        border-radius: 20px!important;
    }

    &::after {
        content: "";
        position: absolute;
        top: -7%;
        left: -10%;
        width: 110%;
        height: 110%;
        z-index: -2;
        display: block;
        border-radius: 50%;
        background: rgba(var(--colorCTA));
        border-top: $size * 2 dotted rgba(var(--colorCTA));
        border-right: $size dotted rgba(var(--colorCTA));
        border-bottom: $size * 2 dotted rgba(var(--colorCTA));
        border-left: $size * 10 dotted rgba(var(--colorCTA));
        animation: spin 3s linear infinite;
        filter: blur(20px);

      }
 
    
    @keyframes spin {
      0% {
        border-top: $size * 2 dotted rgba(var(--colorCTA));
        border-right: $size dotted rgba(var(--colorCTA));
        border-bottom: $size * 2 dotted rgba(var(--colorCTA));
        border-left: $size * 10 dotted rgba(var(--colorCTA));
        filter: blur(5px);
        transform: scale(1) rotateZ(0deg);
      }
      25% {
        border-top-left-radius: 48%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 45%;
        border-bottom-right-radius: 48%;
        transform: scale(0.95);
        filter: blur(6px);
      }
      50% {
        border-top: $size dotted rgba(var(--colorCTA));
        border-right: $size * 10 dotted rgba(var(--colorCTA));
        border-bottom: $size dotted rgba(var(--colorCTA));
        border-left: $size dotted rgba(var(--colorCTA));
        border-top-left-radius: 45%;
        border-top-right-radius: 48%;
        border-bottom-left-radius: 48%;
        border-bottom-right-radius: 45%;
        filter: blur(7px);
      }
      100% {
        border-top: $size * 2 dotted rgba(var(--colorCTA));
        border-right: $size dotted rgba(var(--colorCTA));
        border-bottom: $size * 2 dotted rgba(var(--colorCTA));
        border-left: $size * 10 dotted rgba(var(--colorCTA));
        filter: blur(5px);
        transform: rotateZ(360deg);
      }
    }
}