

.funnel-widget { 
    width: auto;
    border-radius: 1em;
    padding: 1.5em 2.5em;
    max-width: 40em; 
    transition: box-shadow 0.4s linear;
    box-shadow: rgba(83, 83, 83, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 

    & .number-item p{ 
        margin: 0;
    }

    & .checked {
        color: orange;
      }
    
    &--left { 
        margin-left: 3em;
    }

    &--right { 
        margin-right: 3em;
    }

    &--center { 
        margin: 0 auto; 
    }

    &--top { 
        margin-top: 3em;
    }

    &--hero { 
        order: 3;
    }

    &:hover { 
        box-shadow: rgba(31, 31, 31, 0.25) 0px 14px 35px, rgba(0, 0, 0, 0.22) 0px 10px 20px; 
    }
    
}




.funnel-widget.funnel-one { 
    & .widget-images { 
        display: flex;
        margin-left: 15px;
    }

    & .img-item { 
        width: 70px;
        height: 70px;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        border: 4px solid  #e6e6e6;
        box-shadow: rgba(31, 31, 31, 0.25) 0px 14px 15px;
        margin-bottom: 1rem;
        transition: box-shadow 0.2s linear;
        &:hover { 
            box-shadow: rgba(31, 31, 31, 0.55) 0px 14px 25px;
        }
    } 

    & .img-item img { 
        width: 85px;
    }


    & .number-item { 
        font-size: 20px;
        font-weight: 600;
    }

    & .widget-stars { 
        display: none;
    }

    & .funnel-sec-title { 
        display: none;
    }

    & .text-normal { 
        font-size: 18px;
    }

    & .text-normal strong{ 
        font-weight: 600;
    }
    
}


