

.funnel-widget { 
    width: auto;
    max-width: 30em; 
    transition: box-shadow 0.4s linear;

    & .widget-content-title { 
        font-size: 1.75rem;
        font-weight: 600!important;
        font-family: Poppins;
        
    } 

    & .widget-content-title p{ 
        margin: 0;
        
    }
    & .number-item p{ 
        margin: 0;
    }

    & .checked {
        color: orange;
      }
    
    &--left { 
        margin-left: auto;
    }

    &--right { 
        margin-right: auto;
    }

    &--top { 
        margin-top: 1.5em;
    }

    &--bottom { 
        margin-bottom: 1.5em;
    }

    &--center { 
        margin: 0 auto; 
    }


    &--hero { 
        order: 5;
    }
    
}

.number-item { 
    font-weight: 600;
}

.funnel-widget.funnel-one { 
    & .widget-images { 
        display: flex;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    & .widget-img-item{ 
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        border: 2px solid  rgba(255, 255, 255, 1); 
        box-shadow: rgba(31, 31, 31, 0.25) 0px 14px 15px;
        transition: box-shadow 0.2s linear;
        &:hover { 
            box-shadow: rgba(31, 31, 31, 0.55) 0px 14px 25px;
        }
    } 

    & .widget-img-item img { 
        width: 60px;
    }


    & .number-item { 
        font-size: 16px;
        font-weight: 600;
    }

    & .widget-stars { 
        display: none;
    }

    & .widget-content-title { 
        display: none;
        font-size: 1.25rem;
    }

    & .text-normal { 
        font-size: 16px;
    }

    & .text-normal strong{ 
        font-weight: 600;
    }

    & .text-normal p { 
        display: inline;
        text-align: left;
    }

    & .widget-text-content { 
        max-width: 80%;
    }

}


.star { 
    color: orange;
    font-size: 20px;
    margin-left: -3px;
}

.star:not(:last-child) {
    margin-left: -3px;
}


.funnel-widget.funnel-two { 
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
    justify-content: flex-end;

    & .widget-images { 
        display: flex;
        margin-left: 15px;
    } 

    & .widget-img-item:nth-child(1) { 
        display: none;
    }



    & .widget-img-item{ 
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        border: 2px solid  rgba(255, 255, 255, 1); 
        box-shadow: rgba(31, 31, 31, 0.25) 0px 14px 15px;
        transition: box-shadow 0.2s linear;
        &:hover { 
            box-shadow: rgba(31, 31, 31, 0.55) 0px 14px 25px;
        }
    } 

    & .widget-img-item img { 
        width: 75px;
    }

    & .widget-content { 
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    & .widget-text-content { 
        display: flex;
        flex-direction: column;
        align-items: baseline;
        align-self: baseline;
        margin-top: 3px;
        gap: 5px;
    }



    & .widget-stars { 
        width: 50px;
        height: 50px;
        background: url("https://i.ibb.co/hHRwNFV/de70890e-8336-4720-9bec-2891292c90bd-2-transformed.png") no-repeat;
        background-size: contain;
    
        .star:nth-child(n+1):nth-child(-n+5) {
            display: none;
        }

    }

    & .widget-content-title { 
        font-weight: 600!important;
        font-size: 1.25rem;
    }


    & .text-normal { 
        margin-left: auto; 
        line-height: 0;
        font-size: 1rem;
    }

    & .text-normal p{ 
        margin: 0;
    }

    & .text-normal p:nth-child(2){ 
        display: none;
    }

    @media screen and (min-width: 350px) and (max-width: 425px) {
        & .widget-img-item:nth-child(2) { 
            display: none;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {

    }

    @media screen and (min-width: 750px) {
        & .widget-content { 
            gap: 15px;
        }
    }
}


.funnel-widget.funnel-three, 
.funnel-widget.funnel-four { 
    display: flex;
    gap: 15px;
    align-items: center;

    & .widget-images { 
        display: flex;
        min-width: 75px;
        flex-direction: column;
    }

    & .widget-img-item{ 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid  rgba(255, 255, 255, 1); 
    } 

    & .widget-img-item:nth-child(1){ 
        width: 35px;
        height: 35px;
        border-radius: 50px;
        margin-left: 10px;
    }

    & .widget-img-item:nth-child(even){ 
        align-self: flex-end;
        margin-top: -30px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }

    & .widget-img-item:nth-child(3){ 
        margin-top: -20px;
        margin-left: 15px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }

    & .widget-img-item img { 
        width: 50px;
    }

    .widget-img-item:nth-child(n+4):nth-child(-n+5) {
        display: none;
    }

    & .widget-stars { 
        display: none;
    }

    & .widget-content-title p { 
        font-size: 1.25rem;
        line-height: 1;
        margin-bottom: 5px
    }

    & .text-normal { 
        line-height: 1;
    }

    & .text-normal p { 
        display: inline;
        text-align: left;
        font-size: 1rem;

    }

}


.funnel-widget.funnel-four { 
    & .text-normal p:nth-child(2){ 
        display: none;
    }

    & .widget-text-content { 
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
}



.funnel-widget.funnel-five, 
.funnel-widget.funnel-six { 
    opacity: 1;
    display: flex;
    gap: 20px;
    align-items: center;

    & .widget-images { 
        display: flex;
        min-width: 75px;
        flex-direction: column;
    }

    & .widget-img-item{ 
        border-radius: 50px;
    }

    & .widget-img-item{ 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid  rgba(255, 255, 255, 1); 
    } 

    & .widget-img-item:nth-child(1){ 
        width: 35px;
        height: 35px;
        margin-right: 10px;
        align-self: flex-end;
    }

    & .widget-img-item:nth-child(even){ 
        margin-top: -30px;
        width: 40px;
        height: 40px;
    }

    & .widget-img-item:nth-child(3){ 
        margin-top: -20px;
        margin-right: 10px;
        width: 45px;
        height: 45px;
        align-self: flex-end;
    }

    & .widget-img-item img { 
        width: 55px;
    }

    .widget-img-item:nth-child(n+4):nth-child(-n+5) {
        display: none;
    }

    & .text-normal p { 
        display: inline;
        text-align: left;
        font-size: 16px;
    }

    & .text-normal { 
        line-height: 1.1;
        margin-bottom: 10px;
    }

    & .widget-content-title { 
        display: none;
    }

    & .widget-stars { 
        margin-top: -10px;
        font-size: 10px;
    }
}

.funnel-widget.funnel-six { 
    & .widget-img-item { 
        border-radius: 50px;
    }

    & .widget-img-item:nth-child(1){ 
        align-self: flex-start;
        margin-top: 10px;
        margin-left: 10px;
    }

    & .widget-img-item:nth-child(even){ 
        align-self: flex-end;
    }

    & .widget-img-item:nth-child(3){ 
        align-self: flex-start; 
        margin-left: 10px;
    }
    
    & .widget-content { 
        margin-top: 15px;
    }
    & .text-normal p{ 
        font-size: 16px;
        line-height: 0;
    }

    .text-normal { 
        margin-bottom: 6px;
    }

   .text-normal p:nth-child(2){ 
        display: none;
    }

    & .widget-content-title { 
        display: block;
        line-height: 1rem;
    }
}

.funnel-widget.funnel-seven { 
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;

    & .widget-images { 
        display: flex;
        margin-left: 15px;
    } 

    & .widget-img-item:nth-child(1), & .widget-img-item:nth-child(2) { 
        display: none;
    }


    & .widget-img-item{ 
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
        border: 2px solid  rgba(255, 255, 255, 1); 
        box-shadow: rgba(31, 31, 31, 0.25) 0px 14px 15px;
        transition: box-shadow 0.2s linear;
        &:hover { 
            box-shadow: rgba(31, 31, 31, 0.55) 0px 14px 25px;
        }
    } 

    & .widget-img-item img { 
        width: 75px;
    }

    & .widget-content { 
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
        margin-left: 5px;
        margin-bottom: 20px;
    }

    & .widget-content-title { 
        display: none;
    }

    & .widget-text-content { 
        display: flex;
        flex-direction: column;
        align-items: baseline;
        align-self: baseline;
    }


    & .widget-content-title { 
        font-weight: 600!important;
        font-size: 1.25rem;
    }


    & .text-normal { 
        margin-left: auto; 
        line-height: 0;
        font-size: 1rem;
    }

    & .text-normal p{ 
        margin: 0;
    }

    & .text-normal p:nth-child(2){ 
        display: none;
    }

    @media screen and (min-width: 350px) and (max-width: 425px) {
        & .widget-img-item:nth-child(2) { 
            display: none;
        }
    }

}