@import '_widget.scss'; 

/* .funnel-hero.funnel-eight */

.funnel-hero.funnel-eight { 
    background:0 0;
    background-image: 
    radial-gradient(circle, rgba(24,8,15,0.6) 0%, rgba(0,0,0,0.8) 100%), 
    url(https://source.unsplash.com/woman-standing-surrounded-by-exercise-equipment-CQfNt66ttZM.jpg)!important;
    background-position:center,center,center;
    padding-left: 10px;
    padding-right: 10px;

    & .funnel-title span { 
        -webkit-text-fill-color: var(--textCTA);
    }

    & .image-layer { 
        display: none;
    
    } 

    & .wrap-flex .info-layer { 
        width: 100%;
        text-align: left;
    } 

    & .funnel-sec-title span{ 
        color: var(--primary)!important;
        display: none;
    }

    & .funnel-text strong{ 
        color: var(--primary)!important;
    }

    & .container-btn { 
        width: 90%;
    }

    & .container-btn.custom-btn {
        display: flex;
        gap: 40px; 
        flex-direction: column;
    
    }  
    
    & .funnel-title span{ 
        font-size: 32px;
    }

    
    @media only screen and (min-width: 768px) { 
        &  {
            padding: 10rem 0 10rem;
        }
    
        & .wrap-flex .info-layer { 
            width: 100%;
            margin-left: 0;
        }
    
        & .funnel-title span{ 
            font-size: 65px;
        }
    
    
        & .container-btn.custom-btn {
            display: flex;
            gap: 40px; 
            flex-direction: row; 
        
        } 
    
        & .container-btn { 
            width: 100%;
        }
        
    }
    
}


.wrap-head.funnel-eight { 
    background: rgba(var(--secondary), 0.3);
    position: absolute;
}


/* .funnel-hero.funnel-nine */

.funnel-hero.funnel-nine { 
    padding-left: 10px;
    padding-right: 10px;
    background: #180a1a!important;
    background-image: none!important; 

    & .btn-gl:nth-child(2) { 
        display: none;
    }

    & .wrap-flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    & .wrap-flex .info-layer { 
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .wrap-flex .funnel-title { 
        order: 2;
    }

    & .wrap-flex .funnel-sec-title { 
        order: 3;
    }

    & .wrap-flex .text { 
        order: 1;
    }

    & .wrap-flex .container-btn { 
        order: 4;
    } 
     
    & .funnel-title span{ 
        font-size: 40px;
    }

    & .funnel-sec-title span{ 
        color: var(--primary)!important;
        font-size: 18px;
    }
    
    & .funnel-sec-title { 
        line-height: 1.2;
    }

    & .funnel-text strong{ 
        color: var(--primary)!important;
    }

    @media only screen and (min-width: 768px) { 
        & .wrap-flex {
            flex-wrap: wrap;
            gap: 50px;
            align-items: center;
        }
        & .wrap-flex .info-layer { 
            align-items: flex-start;
            width: 100%;
            margin-left: 0;
        }
    
        & .wrap-flex .image-layer{
            width: 100%;
        }
    
        & .funnel-title span{ 
            font-size: 52px;
        }
    
        & .funnel-sec-title { 
            line-height: 1;
        }
    
        
    }
    
    @media only screen and (min-width: 1200px) { 
    
        & .wrap-flex {
            flex-wrap: nowrap;
            flex-direction: row-reverse;
        }
    
        & .wrap-flex .info-layer { 
    
            align-items: flex-start;
            width: 40%;
        }
    
        & .wrap-flex .image-layer{
            width: 60%;
        }
    
        & .funnel-title span{ 
            font-size: 52px;
        }
        
    }
    
     
}
// btn

.container-btn {
	width: 100%;
	display: block;
	cursor: default !important;

	&.custom-btn {
		transition: all .3s;

		&>.btn-gl {
			position: relative;
			width: auto;
			display: inline-flex;
			background: none;
			cursor: pointer;

			&.btn-md_ {
				cursor: pointer;

				a {
					padding: 1rem 3rem;
					font-size: 21px;
				}
			}

			&.btn-sm_ {
				cursor: pointer;

				a {
					padding: 1rem 1rem;
					font-size: 16px;
				}
			}


			&.btn-13 {
				fill: #000000;
				background-color: rgba(var(--secondary), 1);
				border-style: solid;
				border-width: 3px 3px 3px 3px;
				border-color: rgba(var(--secondary-cta), 1);
				box-shadow: 0px 0px 38px 4px rgba(var(--primary-cta), 0.76);
			}

			&.btn-13 a {
				color: rgba(var(--primary-cta), 1) !important;
			}

			&.btn-13:hover {
				transform: scale(1.1);
			}

            &.btn-14 {
                position: relative;
            }

            &.btn-14 a {
                color: rgba(var(--textCTA), 1) !important;
            }

            &.btn-14::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 5px solid transparent;
                background:  linear-gradient(
                    45deg, rgba(var(--third-cta), 0.7), rgba(var(--secondary-cta), 1)) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
              }


            &.btn-14:hover::before {
                background-size: 600px;
                background-position: 600px 0;
                transition: 1s linear;
            }
        }
     }
}
.btn-rounded::before { 
    border-radius: 50px;
} 

// img
.img-1{
    border-radius: 20px;
    position: relative;
}

.img-1::after{
    position: absolute;
    width: 99%;
    height: 100%;
    display: block;
    content: '';
    background: linear-gradient(180deg, var(--bs-indigo) 0%, var(--bs-orange) 100%);
    z-index: -2;
    top: -1%;
    left: -1%;
    border-radius: 20px;
    transform: rotate(4deg);
    box-shadow:rgba(var(--colorCTA), 0.2) -10px 15px 20px;
    transition: all 0.3ms linear;
}


.img-1 img {
    filter: 0;
    width: 100%!important;
    height: 100%;
    border-radius: 20px!important;
}

.img-1:hover::after{
    box-shadow:rgba(var(--colorCTA), 0.2) -15px 20px 25px;
}
