
header { 
    position: relative;
}

.wrap-head.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  

.wrap-head .container.left { 
    display: flex;
    justify-content: space-between!important;
    align-items: center;
}

.wrap-head .header-btn { 
    width: auto!important;
}

.header-nav { 
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.wrap-head .container.right { 
    display: flex;
    justify-content: space-between!important;
    align-items: center;
    flex-direction: row-reverse;
} 


.wrap-head .container.right .header-nav { 
    flex-direction: row-reverse;
}

.wrap-head .container.center { 
    position: relative;
}

.wrap-head .container.center .header-btn{ 
    position: absolute;
    right: 0;
}